#aboutMe {
    //-webkit-perspective: 1000px;
    //perspective: 1000px;
}

.flip-btn {

    display: block;
    position: relative;
    width: 200px;
    height: 80px;
    -webkit-transition: width 0.8s cubic-bezier(0.23, 1, 0.32, 1), height 0.8s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: width 0.8s cubic-bezier(0.23, 1, 0.32, 1), height 0.8s cubic-bezier(0.23, 1, 0.32, 1), transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-align: center;
}

.flip-btn-front {
    font-weight: bolder;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 80px;
    background-color: #7787ad;
    color: #fff;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-transition: background 0.15s ease, line-height 0.8s cubic-bezier(0.23, 1, 0.32, 1);
    transition: background 0.15s ease, line-height 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.flip-btn-front:hover {
    background-color: #f77066;
}

.flip-btn-back {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #eee;
    color: #222;
    -webkit-transform: translateZ(-2px) rotateX(180deg);
    transform: translateZ(-2px) rotateX(180deg);
    -moz-transform: translateZ(-2px) rotateX(180deg);;
    overflow: hidden;
    -webkit-transition: box-shadow 0.8s ease;
    transition: box-shadow 0.8s ease;

}

.flip-btn-back p {
    margin-top: 27px;
    margin-bottom: 25px;
}

.flip-btn-back button {
    padding: 12px 20px;
    width: 30%;
    margin: 0 5px;
    background-color: transparent;
    border: 0;
    border-radius: 2px;
    font-size: 1em;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-transition: background 0.15s ease;
    transition: background 0.15s ease;
}

.flip-btn-back button:focus {
    outline: 0;
}

.flip-btn-back button.close {
    background-color: #2196F3;
    color: #fff;
}

.flip-btn-back button.close:hover {
    background-color: #51adf6;
}

.flip-btn-back button.no {
    color: #2196F3;
}

.flip-btn-back button.no:hover {
    background-color: #ddd;
}

.flip-btn[data-direction="left"] .flip-btn-back,
.flip-btn[data-direction="right"] .flip-btn-back {
    -webkit-transform: translateZ(-2px) rotateY(180deg);
    transform: translateZ(-2px) rotateY(180deg);
}

.flip-btn.is-open {
    width: 400px;
    height: 300px;
}

.flip-btn.is-open .flip-btn-front {
    font-size: 0;
    z-index: -1;
    pointer-events: none;
    line-height: 160px;
}

.flip-btn.is-open .flip-btn-back {

    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
}

.flip-btn[data-direction="top"].is-open {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
}

.flip-btn[data-direction="right"].is-open {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}

.flip-btn[data-direction="bottom"].is-open {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
    -moz-transform: rotateX(-180deg);
}

.flip-btn[data-direction="left"].is-open {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
}
