
/* Web body */
body {
    font-family: "Microsoft YaHei";
    margin: 0;
    padding: 0;
    min-width: 1200px;
}



.download {
    background-color: salmon;
    position: fixed;
    left: 5px;
    top: 10px;
    z-index: 1000;
    width: 34px;
    height: 34px;
    border: 3px solid white;
    border-radius: 20px;
    white-space: nowrap;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;

}
.download a{

    color: white;
    text-decoration: none;
    font-size: 15px;
}
.download i{
    position: relative;
    top: 4px;
    left: 7px;
    margin-right: 12px;
    font-size: 20px;

}
.download span{
    position: relative;
    top: 3px;
}

.download:hover {
    width: 150px;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
}

section {
    position: relative;
    padding: 20px;
    background-color: rgba(238,126,128,0.85);
}

section:nth-of-type(2n+1) {
    background-color: rgba(206,215,223,0.85);
}

#home {
    background-image: url("img/bg-home.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: -40px;
    padding: 50px 120px 60px;

}
#home>* {
    position: relative;
    z-index: 10;
}

.avatar {
    position: relative;
    padding: 1px;
    width: 150px;
    border-radius: 50%;
}

#home .mask{
    position: absolute;
    z-index: 0;
    top: 0;
    left: 50px;
    background-color:#ced7df;
    opacity: 0.8;
    width: 500px;
    height: 700px;
}

.title {
    width: 50%;
    color: black;
    position: relative;
    margin-bottom: 5px;
    font-size: 120px;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

.title:before {
    white-space: nowrap;
    overflow: hidden;
    content: attr(data-name);
    display: block;
    position: absolute;
    color: #e74f4d;
    width: 0;
    height: 100%;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
}

.title:hover {
    color: #f7cf94;
}

.title:hover:before {
    width: 100%;
}

#home i {
    margin-right: 30px;
    font-size: 20px;
}

#home i span {
    font-family: "Microsoft Yahei";
    font-size: .6em;
}

.nav {
    margin-top: 45px;
    list-style: none;
    width: 290px;
    padding: 0;
}

.nav li {
    margin-top: 10px;
    display: inline-block;
    padding: 10px 90px;
    background-color: whitesmoke;
}

.nav li a {
    text-decoration: none;
    position: relative;
    color: #ee7e80;
}

.nav li a:before {
    content: '[';
    left: 0;

}

.nav li a:after {
    content: ']';
    right: 0;

}

.nav li a:before, .nav li a:after {
    position: absolute;
    opacity: 0;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.nav li:hover a:before {
    left: -15px;
    opacity: 1;
}

.nav li:hover a:after {
    right: -15px;
    opacity: 1;
}

#aboutMe {
    text-align: center;
}

#aboutMe > div {
    position: relative;
    display: inline-block;
}

#aboutMe .p-data {
    position: absolute;
}

#aboutMe .flip-btn {
    position: absolute;
    z-index: 10;
}

#educate .flip-btn {
    left: -100%;
}

#educate .flip-btn-back {
    background-color: rgba(76,158,217,0.5);
    background-image: url("img/jnu-logo-min.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom right;
    color: white;
}

#educate button {
    background-color: salmon;
}
#educate button:hover {
    background-color: transparent;
    color: salmon;
    border: 2px solid salmon;
}
#others {
    right: -50%;
    top: 30%
}

#others .flip-btn {
    right: -100%;
}
#others .flip-btn-back {
    background-color:rgba(247,247,247,0.6);
}

#hobby {
    right: 70%;
    top: 60%
}

#hobby .flip-btn {
    left: -100%;
}
#hobby .flip-btn-back {
    background-color:rgba(247,207,168,0.6);
    border-radius: 10px;
    box-sizing: border-box;
}
#hobby p i{
    font-size: 2em;

}
#hobby p{
    position: absolute;
}
#hobby p:first-child {
    color: salmon;
    top: -10%;
    left: 40%;
    font-size: 50px;
}

#hobby p:nth-of-type(3){
    color: #45d3c2;
    left: 30px;
    top: 25%;
    font-size: 40px;
}
#hobby p:nth-of-type(3)  {
    animation: tremble 2s ease-in-out 2s infinite ;
    -moz-animation: tremble 2s ease-in-out 2s infinite ;
    -webkit-animation: tremble 2s ease-in-out 2s infinite ;
    -o-animation: tremble 2s ease-in-out 2s infinite ;
}
#hobby p:nth-of-type(2){
    color: #343645;
    right: 30px;
    bottom: 20%;
    font-size: 20px;
}
#hobby button {
    background-color:inherit;
    border: 4px solid #51ADF6;
    color: #51ADF6;
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;
    margin: auto;
}
#hobby button:hover{
    border-color: salmon;
    color: salmon;
}
#aboutMe .spanA {
    color: #f8f7ff;
    position: absolute;
    top: 25%;
    left: 8%;
    font-size: 150px;
}

#aboutMe .spanB {
    color: #f7cf94;
    position: absolute;
    bottom: 25%;
    right: 15%;
    font-size: 200px;
}

#skills {
    overflow: hidden;
}

#skills h1 {
    color: #f7cf94;
    font-size: 70px;
    position: relative;
    z-index: 100;
}

#skills .points {

    margin: 200px auto 0;
    width: 450px;
    height: 450px;
    position: relative;
    z-index: 10;
}

#skills .points .point {
    cursor: default;
    border-radius: 50%;
    background-color: #f7cf94;
    position: absolute;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

#skills .points .point:before {

    content: "";
    margin: auto;
    width: 100%;
    height: 100%;
    overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    background-color: #5a5b5b;
    transform: scale(0);
    opacity: 0.8;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    z-index: 0;
}

#skills .points .point:not(.click):hover:before {
    transform: scale(1);
}

#skills .points .point .name {
    height: 50px;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    z-index: 10;
    margin-top: -25px;
    color: white;
}

#skills .points .point .per {
    font-size: 0.8em;
}

#skills .points .point.main {
    background-color: #ee7e80;
}

#skills .desText {
}

#skills .description {
    position: absolute;
    display: none;
    z-index: 100;
}

#skills .description ul {

}

#skills .description li {
    margin-bottom: 10px;
}

#skills .description.dHtml {
    top: 30%;
    left: 50%;
    color: #ee7e80;
    font-size: 20px;
}

#skills .description.dJS {
    top: 25%;
    left: 10%;
    color: white;
    font-size: 20px;
}

#skills .description.dPS {
    top: 40%;
    width: 100%;
    text-align: center;
    color: #45d3c2;
    font-size: 50px;
}

#skills .description.dPS ul {
    list-style: none;
}

#skills .points .point.other {
    background-color: #45d3c2;
}

#skills .points .point.click {
    cursor: pointer;

}

#skills .points .point.click:after {
    content: '';
    text-indent: -999px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: inherit;
    position: absolute;
    opacity: 0.5;
    -webkit-opacity: 0.5;
    z-index: 0;
    animation: breathe 3s infinite ease-in-out 1.5s;
    -webkit-animation: breathe 3s infinite ease-in-out 1.5s;
    -moz-animation: breathe 3s infinite ease-in-out 1.5s;
    -o-animation: breathe 3s infinite ease-in-out 1.5s;

}

#skills .points .point.click:nth-of-type(1):after {
    animation: breathe 3s infinite ease-in-out 0.5s;
    -webkit-animation: breathe 3s infinite ease-in-out 0.5s;
    -moz-animation: breathe 3s infinite ease-in-out 0.5s;
    -o-animation: breathe 3s infinite ease-in-out 0.5s;
}

#skills .points .point.click:nth-of-type(2):after {
    animation: breathe 3s infinite ease-in-out 2.5s;
    -webkit-animation: breathe 3s infinite ease-in-out 2.5s;
    -moz-animation: breathe 3s infinite ease-in-out 2.5s;
    -o-animation: breathe 3s infinite ease-in-out 2.5s;
}

#skills .points .click:before {
    background-color: inherit;
    transform: scale(0);
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;

}

#skills .points .click.focus-point:before {
    transform: scale(10);
    opacity: 1;
    background-color: #5a5b5b;
    z-index: -1;
}

#skills .points .click.other.focus-point:before {
    transform: scale(22);

}


#projects {
    overflow: auto;
}

#projects h1 {
    font-family: Arial;
    text-align: center;
    font-size: 90px;
    margin: 30px;
    color: #45d3c2;
}

/* footer */
footer {
    color: white;
    padding: 3px 20px;
    overflow: hidden;
    text-align: right;
    background-color: rgba(88,110,117,0.5);
    position: relative;
    z-index:10;
}

footer span {
    float: left;

}

footer a {
    margin-left: 10px;
    text-decoration: none;
    color: white;
}

footer i {
    font-size: 30px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

footer i:hover {
    color: grey;
}

/* bttBtn */
.backToTop {
    position: fixed;
    bottom: 40px;
    right: 20px;
    z-index: 1000;
    text-decoration: none;
    color: black;
    animation: upDown 1.5s ease-in-out infinite;
    -moz-animation: upDown 1.5s ease-in-out infinite;
    -webkit-animation: upDown 1.5s ease-in-out infinite;
    -o-animation: upDown 1.5s ease-in-out infinite;

}

.backToTop i {

    font-size: 40px;
}

.backToTop:hover i {
    color: #2A2E3D;
}

/* hoverdir的CSS */
.da-thumbs {
    margin: 0 5%;
    list-style: none;
    width: 90%;
    position: relative;
    padding: 0;
    margin-bottom: 20px;
    text-align: center;
}

.da-thumbs li {
    overflow: hidden;
    position: relative;
    height: 280px;
    width: 350px;
    display: inline-block;
    margin: 10px 10px;
    background: #f7cf94;
    border: 10px solid #fafafa;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}

.da-thumbs li div {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    background: rgba(75, 75, 75, 0.7);

}

.da-thumbs li div p {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 120px;
    font-size: 25px;

}

.da-thumbs li div p a {
    line-height: 60px;
}

.da-thumbs li div.da-animate {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.da-slideFromTop {
    left: 0px;
    top: -100%;
}

.da-slideFromBottom {
    left: 0px;
    top: 100%;
}

.da-slideFromLeft {
    top: 0px;
    left: -100%;
}

.da-slideFromRight {
    top: 0px;
    left: 100%;
}

/* 动画结果阶段的class: */
.da-slideTop {
    display: block;
    top: 0px;
}

.da-slideLeft {
    display: block;
    left: 0px;
}

/* 动画 */

@-webkit-keyframes breathe {
    0% {
        -webkit-transform: scale(0.25);
        -webkit-opacity: .9;
    }
    75% {
        -webkit-transform: scale(2);
        -webkit-opacity: 0;
    }
    100% {
        -webkit-transform: scale(0.9);
        -webkit-opacity: 0;
    }
}

@-moz-keyframes breathe {
    0% {
        -moz-transform: scale(0);
        opacity: .9;
    }
    75% {
        -moz-transform: scale(1);
        opacity: 0;
    }
    100% {
        -moz-transform: scale(.9);
        opacity: 0;
    }
}

@-o-keyframes breathe {
    0% {
        -o-transform: scale(0);
        opacity: .9;
    }
    75% {
        -o-transform: scale(1.5);
        opacity: 0;
    }
    100% {
        -o-transform: scale(.9);
        opacity: 0;
    }
}

@keyframes breathe {
    0% {
        transform: scale(0);
        opacity: .9;
    }
    75% {
        transform: scale(2);
        opacity: 0;
    }
    100% {
        transform: scale(.9);
        opacity: 0;
    }
}

@-webkit-keyframes breathe_1 {
    0% {
        -webkit-transform: scale(0.25);
        -webkit-opacity: .9;
    }
    100% {
        -webkit-transform: scale(1);
        -webkit-opacity: 0.1;
    }
}

@-moz-keyframes breathe_1 {
    0% {
        -moz-transform: scale(0);
        opacity: .9;
    }
    75% {
        -moz-transform: scale(1);
        opacity: 0;
    }
    100% {
        -moz-transform: scale(.9);
        opacity: 0;
    }
}

@-o-keyframes breathe_1 {
    0% {
        -o-transform: scale(0);
        opacity: .9;
    }
    75% {
        -o-transform: scale(1.5);
        opacity: 0;
    }
    100% {
        -o-transform: scale(.9);
        opacity: 0;
    }
}

@keyframes breathe_1 {
    0% {
        transform: scale(0);
        opacity: .9;
    }

    100% {
        transform: scale(1);
        opacity: 0.1;
    }
}

@keyframes upDown {
    0% {
        bottom: 40px
    }
    50% {
        bottom: 30px
    }
}

@-moz-keyframes upDown {
    0% {
        bottom: 40px
    }
    50% {
        bottom: 30px
    }
}

@-webkit-keyframes upDown {
    0% {
        bottom: 40px
    }
    50% {
        bottom: 30px
    }
}

@-o-keyframes upDown {
    0% {
        bottom: 40px
    }
    50% {
        bottom: 30px
    }
}

@keyframes tremble {
    0% {transform: rotate( 0deg );}
    5% {transform: rotate( 3deg );}
    10% {transform: rotate( -4deg );}
    15% {transform: rotate( 3deg );}
    20% {transform: rotate( -2deg );}
    25% {transform: rotate( 1deg );}
    30%{transform: rotate( -1deg );}
    70% {transform: rotate( 0deg );}
}
@-moz-keyframes tremble {
    0% {-moz-transform: rotate( 0deg );}
    5% {-moz-transform: rotate( 3deg );}
    10% {-moz-transform: rotate( -4deg );}
    15% {-moz-transform: rotate( 3deg );}
    20% {-moz-transform: rotate( -2deg );}
    25% {-moz-transform: rotate( 1deg );}
    30%{-moz-transform: rotate( -1deg );}
    70% {-moz-transform: rotate( 0deg );}
}
@-webkit-keyframes tremble {
    0% {-webkit-transform: rotate( 0deg );}
    5% {-webkit-transform: rotate( 3deg );}
    10% {-webkit-transform: rotate( -4deg );}
    15% {-webkit-transform: rotate( 3deg );}
    20% {-webkit-transform: rotate( -2deg );}
    25% {-webkit-transform: rotate( 1deg );}
    30%{-webkit-transform: rotate( -1deg );}
    70% {-webkit-transform: rotate( 0deg );}
}
@-o-keyframes tremble  {
    0% {-o-transform: rotate( 0deg );}
    5% {-o-transform: rotate( 3deg );}
    10% {-o-transform: rotate( -4deg );}
    15% {-o-transform: rotate( 3deg );}
    20% {-o-transform: rotate( -2deg );}
    25% {-o-transform: rotate( 1deg );}
    30%{-o-transform: rotate( -1deg );}
    70% {-o-transform: rotate( 0deg );}
}



